Bug Cannot continue processing No such file: /home/runner/work/rfc-asciidoc-rfc/rfc-asciidoc-rfc/site/documents/draft-ribose-asciirfc.rfc.xml

https://github.com/metanorma/rfc-asciidoc-rfc/runs/2948292251?check_suite_focus=true#step:8:224

```
...
RFC XML: xref target asciidoctor-rfc does not exist in the document
RFC XML: xref target RFC7749 does not exist in the document
RFC XML: xref target RFC7991 does not exist in the document
RFC XML: xref target NroffEdit does not exist in the document
RFC XML: xref target RFC5385 does not exist in the document
RFC XML: xref target lyx2rfc does not exist in the document
RFC XML: xref target RFC7328 does not exist in the document
RFC XML: xref target pandoc2rfc does not exist in the document
RFC XML: xref target draftr does not exist in the document
RFC XML: xref target kramdown-rfc2629 does not exist in the document
RFC XML: xref target mmark does not exist in the document
RFC XML: xref target RFC7763 does not exist in the document
RFC XML: xref target RFC7990 does not exist in the document
RFC XML: xref target RFC7991 does not exist in the document
RFC XML: xref target RFC7749 does not exist in the document
RFC XML: xref target RFC7991 does not exist in the document
RFC XML: xref target AsciiDoc does not exist in the document
RFC XML: xref target Asciidoctor does not exist in the document
RFC XML: xref target AsciiDoc does not exist in the document
RFC XML: xref target Asciidoctor does not exist in the document
RFC XML: xref target RFC7764 does not exist in the document
RFC XML: xref target asciidoctor_bibliography does not exist in the document
RFC XML: xref target AsciiDoc does not exist in the document
RFC XML: xref target Asciidoctor does not exist in the document
RFC XML: xref target I-D.wu-netmod-yang-xml-doc-conventions does not exist in the document
RFC XML: xref target asciidoctor_bibliography does not exist in the document
RFC XML: xref target Asciidoctor-Manual does not exist in the document
RFC XML: xref target RFC7996 does not exist in the document
RFC XML: xref target AsciiMathML does not exist in the document
RFC XML: xref target TeX-LaTeX does not exist in the document
RFC XML: xref target MathJax does not exist in the document
RFC XML: xref target asciidoctor-rfc does not exist in the document
RFC XML: xref target RFC2119 does not exist in the document
RFC XML: xref target Asciidoctor-Manual does not exist in the document
RFC XML: xref target RFC2119 does not exist in the document
RFC XML: xref target RFC8174 does not exist in the document
RFC XML: xref target Asciidoctor-Manual does not exist in the document
RFC XML: xref target git-asciirfc-minimal does not exist in the document
RFC XML: xref target I-D.asciirfc-minimal does not exist in the document
RFC XML: xref target datatracker-asciirfc-minimal does not exist in the document
RFC XML: xref target git-camelot-holy-grenade does not exist in the document
RFC XML: xref target I-D.camelot-holy-grenade does not exist in the document
RFC XML: xref target datatracker-camelot-holy-grenade does not exist in the document
RFC XML: xref target git-divination-cfapi does not exist in the document
RFC XML: xref target I-D.divination-cfapi does not exist in the document
RFC XML: xref target datatracker-divination-cfapi does not exist in the document
Cannot continue processing
No such file: /__w/rfc-asciidoc-rfc/rfc-asciidoc-rfc/site/documents/draft-ribose-asciirfc.rfc.xml

```